## dotrc-env
.lock
## vim
etc/vim/bundle/*
bin/vim
bin/xxd
etc/vim/cache/*
etc/vim/static
etc/vim/.netrwhist
## ssh
etc/ssh/known_hosts*
etc/ssh/id_rsa*
etc/ssh/cache/*
etc/ssh/keys
etc/ssh/config
etc/ssh/config.local
## Mac OS
.DS_Store
bin/airport
## screen
etc/screen/*
## gnupg
etc/gnupg/private-keys-v1.d
etc/gnupg/pubring.kbx*
etc/gnupg/random_seed
etc/gnupg/reader_0.status
etc/gnupg/sshcontrol
etc/gnupg/trustdb.gpg*
etc/gnupg/crls.d
etc/gnupg/tofu.db
etc/gnupg/reader_1.status
etc/gnupg/.#lk0x*
## newsboat
etc/newsboat/cache.db*
etc/newsboat/history.cmdline
etc/newsboat/history.search
etc/newsboat/queue
## bash
etc/oh-my-bash.d/plugins/machine/machine.d/*
## misc
*.bak
