## dotrc-env
.lock
## vim
etc/vim/bundle/*
bin/vim
bin/xxd
etc/vim/static
etc/vim/.netrwhist
## ssh
etc/ssh/known_hosts*
etc/ssh/id_rsa*
etc/ssh/cache/*
etc/ssh/keys
## Mac OS
.DS_Store
bin/airport
## screen
etc/screen/local
## gnupg
etc/gnupg/private-keys-v1.d
etc/gnupg/pubring.kbx*
etc/gnupg/random_seed
etc/gnupg/reader_0.status
etc/gnupg/sshcontrol
etc/gnupg/trustdb.gpg*
