[submodule "private"]
	path = private
	url = https://tschaefer@bitbucket.org/tschaefer/dotrc-env-private.git
[submodule "public/etc/vim.d/bundle/nerdtree"]
	path = public/etc/vim.d/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "public/etc/vim.d/bundle/syntastic"]
	path = public/etc/vim.d/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "public/etc/vim.d/bundle/fugitive"]
	path = public/etc/vim.d/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "public/etc/vim.d/bundle/nerdtree-tabs"]
	path = public/etc/vim.d/bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "public/etc/vim.d/bundle/jedi"]
	path = public/etc/vim.d/bundle/jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "public/etc/vim.d/bundle/tagbar"]
	path = public/etc/vim.d/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "public/etc/vim.d/bundle/airline"]
	path = public/etc/vim.d/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "public/etc/vim.d/bundle/eunuch"]
	path = public/etc/vim.d/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "public/etc/vim.d/bundle/supertab"]
	path = public/etc/vim.d/bundle/supertab
	url = https://github.com/ervandew/supertab.git
